server {
		# IP, который мы будем слушать
		listen 127.0.0.1:8080;

		location /api/ {
		    # IP и порт, на которых висит node.js
		    proxy_pass http://127.0.0.1:4004;
		    proxy_set_header Host $host;
		}


		location / {
			root /Users/ilya-b/my-projects/escimos/client/build;
			index src/index.html;
		}

		#location /en/ {
		#	root /Users/ilya-b/my-projects/escimos/client/build;
		#	try_files $uri $uri/ user/index.html;
		#}

	}
