
.block-title {
	display: block;
	padding: 5px 25px;
	color: black;
	background-color: #ceefff;
	/*background-color: #eff9ff;*/
	font-size: 110%;
}

.block-title-light {
	background-color: #eff9ff;
}

.block-title-red {
	background-color: #ffe3e3;
}

.block-title-green {
	background-color: #e8ffd9;
}

.block-title-hand {
	background-color: #fff6db;
}

.block-title-tall {
	padding: 10px 25px;
}
